<br><br>
<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top bg-dark">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <p class="nav-link p-0 text-info">&copy; 2023</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Tienda</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Tienda</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Tienda</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-info">About</a></li>
      </ul>
    </div>
  </footer>
</div>
