
<nav class="navbar navbar-expand-lg bg-body-tertiary    ">
    <div class="container-fluid  bg-dark    ">
      <br><br><br><br><br>
      <a class="navbar-brand  text-info" href="#">Tienda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active  text-info" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" href="#">categorias</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
detalles            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">bodega</a></li>
              <li><a class="dropdown-item" href="#">ventas</a></li>
              <li><a class="dropdown-item" href="#">clientes</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
