

<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="imagen1" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Pringles</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img [src]="imagen2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Bombum</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img [src]="imagen3" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Redbull</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div></div>
    </div>
  </div>
  
  <br><br>
  
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img [src]="imagen4" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Getorade</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img [src]="imagen5" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Todo Rico</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img [src]="imagen6" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Coca Cola</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div></div>
    </div>
  </div>
  
  